*{
	margin: 0;
	padding: 0;
}
body{
	height: 1000px;
}
button, input{
	border-radius: 3px;
	border: 1px solid #333;
}
button{
	cursor: pointer;
	padding: 5px;
}
#canvas{
	display: block;
	margin: auto;
	background-color: #000;
}
.options{
	overflow: hidden;
	float: left;
	margin: 10px;
}
.next{
	margin:20px;
}
input[type="text"]{
	width: 50px;
	height: 20px;
	border-radius: 3px;
	margin: 10px;
}