*{
	margin: 0;
	padding: 0;
}

button, input{
	border-radius: 3px;
	border: 1px solid #333;
}
button{
	cursor: pointer;
	padding: 5px;
}
#canvas{
	display: block;
	margin: auto;
	background-color: #FFF;
	border: 1px solid #DDD;
}
.options{
	overflow: hidden;
	float: left;
	margin: 10px;
	margin-right: 50px;
}
.infos{
	overflow: hidden;
	padding-top: 20px;
}
.infos p{
	margin-bottom: 5px;
}
.infos span{
	display: inline-block;
	margin: 5px 15px;
}
input[type="text"]{
	width: 50px;
	height: 20px;
	border-radius: 3px;
	margin: 10px;
}
.clearfix{
	clear: both;
}